<?xml version="1.0" encoding="iso-8859-1"?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="nl">
  <head>
    <title>Audivididici - Ik hoorde, ik zag, ik leerde!</title>
    <meta name="title" content="Home" />
    <meta name="author" content="Jan Paul Posma" />
    <meta name="description" content="Audivididici audiovisueel overhoorprogramma: ik hoorde, ik zag, ik leerde!" />
    <meta name="keywords" content="Audivididici, Overhoor, Software, Hoorde, Zag, Leerde, Woordjes, Leren, Audio, Visueel, Woorden, Engels, Grieks, Nederlands, Duits, Frans, Latijn, Talen" />
    <meta name="robots" content="index, follow" />
    <link rel="shortcut icon" href="" />
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <link rel="stylesheet" href="/template_css.css" type="text/css"/>
    <!--[if lte IE 7]><link rel="stylesheet" href="/ie7.css" type="text/css"/><![endif]-->
  </head>

  <body>
  	<div class="maintable">
  		<div id="mainbody">
  			<div id="header">
  				<div id="sitename">
  					<p></p>
  				</div>
  				<div id="menucenter">
            <table cellpadding="0" cellspacing="0" style="margin:0 ;">
              <tr>
                <td class="menu_m">
                  <div id="topnavi">
                    <ul>
                      <li><a href='/'{% if page.path == 'index.html' %} class="current"{% endif %}><span>Home</span></a></li>
                      <li><a href='/waarom-werkt-het'{% if page.path == 'waarom-werkt-het/index.html' %} class="current"{% endif %}><span>Waarom werkt het?</span></a></li>
                      <li><a href='/mogelijkheden'{% if page.path == 'mogelijkheden/index.html' %} class="current"{% endif %}><span>Mogelijkheden</span></a></li>
                      <li><a href='/downloaden'{% if page.path == 'downloaden/index.html' %} class="current"{% endif %}><span>Downloaden</span></a></li>
                      <li><a href='/contact'{% if page.path == 'contact/index.html' %} class="current"{% endif %}><span>Contact</span></a></li>
                    </ul>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>

        <div style="width:795px; margin-top: 0px; margin-bottom: 0px;">
          <div id="leftmenu"></div>

          <div id="main">
            <table class="contentpaneopen">
              <tr>
                <td colspan="2">
                  <div style="width:770px; margin-left: auto; margin-right: auto; margin-top: 0px;">
                    <div style="float: left; padding-left:10px">
                      {{content}}
                      <p>&nbsp;</p>
                    </div>
                  </div>
                </td>
              </tr>
            </table>

            <span class="article_seperator" >&nbsp;</span>
          </div>

          <div style="clear:both;"></div>
        </div>
      </div>

      <div id="footer">
        <a href="/contact">&copy; Simon Roosjen en Jan Paul Posma, 2008-2010</a>
      </div>
    </div>

    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      var pageTracker = _gat._getTracker("UA-3468001-1");
      pageTracker._initData();
      pageTracker._trackPageview();
    </script>
  </body>
</html>
